table {
	margin-right: 30px;
}

.container {
	display: flex;
	padding: 30px;
}

.tools {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

td {
	width: 75px;
	height: 75px;
	border: 1px solid black;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	vertical-align: center;
}

td img {
		width: 70px;
		height: 70px;
	}

td.selected {
	background-color: lightgray;
}

td.questionedThisRound {
	background-color: gray;
}

button {
	padding: 10px;
	font-size: 18px;
	margin-bottom: 5px;
	display: block;
}

td.agent {
	/* background-color: red; */
}

.quote {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	max-width: 700px;
	font-size: 35px;
	font-style: italic;
}